<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.telecom_paristech.pact42.tarot.tarotplayer"
    android:versionCode="1"
    android:versionName="2.0">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera2.full"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.Camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.PlayerActivity" />
        <activity android:name=".Activities.ScanTableActivity" />
        <activity android:name=".Activities.ScanHandActivity" />
        <activity android:name=".Activities.ScanChienActivity" />
        <activity android:name=".Activities.SuccessfulScanActivity" />
        <activity android:name=".Activities.UnsuccessfulScanHandActivity" />
        <activity android:name=".Activities.UnsuccessfulScanChienActivity" />
        <activity android:name=".Activities.UnsuccessfulScanTableActivity" />
        <activity android:name=".Activities.EnchereActivity" />
        <activity android:name=".Activities.PlayerIddleActivity" />
        <activity android:name=".Activities.ChangeChienCardActivity" />
        <activity android:name=".Activities.CardDecisionActivity" />
        <activity android:name=".Activities.ScoresActivity"></activity>
    </application>

</manifest>